 @media screen and (max-width:767px) {
.banner-text {
	float: left;
	position: absolute;
	text-align: center;
	top: 20%;
	width: 100%;
}
.banner-text h2 {
	color: #fff;
	font-size: 36px;
	letter-spacing: 10px;
}
.wrapper3 {
    margin: 0 auto;
    width: 96%;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline;
 
 
}

.banner-btn {
	margin-top: 31px;
}
.banner-btn > a {
	background-color: #b62d44;
	border: 1px solid #fff;
	color: #fff;
	font-family: "freightregular";
	font-size: 11px;
	letter-spacing: 2px;
	margin-right: 13px;
	padding: 8px 36px;
}
.wrapper {
	margin: 0 auto;
	width: 400px;
}
.we-one {
	padding-right: 0px;
}
.assesment {
	padding: 50px 0;
}
.we-one.padding-left {
	padding-right: 0;
}
.assement-text {
	margin-top: 10px;
	padding-right: 0px;
}
.form-contact {
	margin-top: 20px;
	padding-left: 0px;
}
.container {
	width: 96%;
}
.navbar-nav > li {
	float: none;
	margin-right: 0;
}
.navbar-nav {
	float: left;
}
header {
	padding: 0 12px;
}
.navbar-brand {
	margin-top: 5px;
	width: 220px;
}
.btn.prev {
	left: 0;
	position: absolute;
}
.btn.next {
	position: absolute;
	right: 0;
}
.student-say > p {
	margin-bottom: 15px;

}
.footer-link {
	margin-top: 30px;
}
.owl-controls.clickable {
	display: none !important;
}
.navbar-toggle {
 margin-top:8px;
  
}
/*------------------about-page--------------*/

.about-text {
	float: left;
	margin-top: 0;
	width: 100%;
}
.team {
	margin: 0 auto;
}
.about-text {
	padding: 0;
}
.wrapper2 {
    margin: 0 auto;
    width: 96%;
}
.aee-radio {
    float: left;
    margin-bottom: 15px;
    margin-right: 0px;
    width: 43%;
}

}
 @media screen and (max-width:480px) {
.wrapper {
	margin: 0 auto;
	width: 96%;
}
.we-one.padding-left {
	padding-left: 0px;
	padding-right: 0;
}
.banner-text {
	float: left;
	position: absolute;
	text-align: center;
	top: 50px;
	width: 100%;
}
.banner-text h2 {
	color: #fff;
	font-size: 17px;
	letter-spacing: 10px;
}
.banner-btn {
	margin-top: 10px;
}
.banner-btn > a {
	font-size: 10px;
	margin-right: 17px;
	padding: 7px 8px;
}
.owl-pagination {
	display: none;
}
.title {
	font-size: 27px;
}
.banner-text {
	float: left;
	position: absolute;
	text-align: center;
	top: 16%;
	width: 100%;
}
.banner-text h2 {
	color: #fff;
	font-size: 24px;
	letter-spacing: 10px;
}
.banner-btn {
	margin-top: 23px;
}
.banner-btn > a {
	background-color: #b62d44;
	border: 1px solid #fff;
	color: #fff;
	font-family: "freightregular";
	font-size: 11px;
	letter-spacing: 2px;
	margin-right: 13px;
	padding: 6px 14px;
}
.wrapper2 {
    margin: 0 auto;
    width: 98%;
}
.wrapper2 {
    margin: 0 auto;
    width: 96%;
}
.counter h2 {
    font-size: 41px;
    font-family: 'Akkurat Light Pro';
}
.aee-radio {
    float: left;
    margin-bottom: 15px;
   width: 100%;
   margin-right:0;
}
}
 @media screen and (min-width:768px) and (max-width:991px) {
header {
	padding: 0 10px;
}
.banner-text {
	top: 30%;
}
.banner-text h2 {
	font-size: 41px;
}
.banner-btn {
	margin-top: 41px;
}
.title {
	font-size: 38px;
}
.wrapper {
	margin: 0 auto;
	width: 98%;
}
.navbar-toggle {
 margin-top:8px;
  
}
.we-one {
	padding-right: 0;
}
.we-one.padding-left {
	padding-left: 0px;
	padding-right: 0;
}
.assement-text {
	padding-right: 0;
	text-align: center;
}
.form-contact {
	padding-left: 0;
}
.student {
	padding: 50px 0;
}
.container {
	width: 98%;
}
.btn.prev {
	left: -20px;
	position: absolute;
}
.btn.next {
	position: absolute;
	right: -20px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	display: inline;
}
.student-say {
	margin-bottom: 30px;
}
.wrapper3 {
    margin: 0 auto;
    width: 96%;
}
.space-cale {
    float: left;
    margin: 12px 0;
    width: 100%;
}
/*------------------about-page--------------*/

.about-text {
	float: left;
	margin-top: 0;
	width: 100%;
}
.team {
	margin: 0 auto;
}
.wrapper2 {
    margin: 0 auto;
    width: 98%;
}
.wrapper2 {
    margin: 0 auto;
    width: 96%;
}
.acce-lebal {
  
    margin-bottom: 15px;
   
}
}
 @media screen and (min-width:992px) and (max-width:1200px) {
.navbar-brand {
	width: 250px;
}
.banner-text {
	top: 128px;
	width: 100%;
}
.banner-text h2 {
	font-size: 69px;
}
.banner-btn {
	margin-top: 51px;
}
.btn.prev {
	left: -36px;
	position: absolute;
}
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  /* NEW */
        display: block!important; 
    }
}