*{ margin:0; padding:0;}
body{margin:0; padding:0;font-family: 'freightbold';}


a {font-family: 'freightregular'; font-size:13px;}

header {
    padding: 0 40px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

p{font-family: 'Akkurat Light Pro';font-size: 13px;
    line-height: 20px;
    }
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-toggle {
    display: block;
}
.navbar-toggle {
   
    border: medium none;
    
	margin-top:13px;
    position: absolute;
    right: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar {
    margin-bottom: 0;
    padding: 30px 0;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto;
    line-height: 20px;
    padding: 0;
}
.navbar-nav > li {
    float: left;
    margin-right: 94px;
    transform: translateY(-70px);
	transition-timing-function: ease-in;
	 transition: 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #b62d44;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav > li:last-child {
    margin-right: 0;
}
.navbar-nav {

    float: right;
    margin: 4px 0 0;
    padding-right: 53px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: #000;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
	font-size:13px;
    padding: 15px 0;
    text-transform: uppercase;
	    font-family: 'freightregular';
		letter-spacing: 2px;
	 
}

.one {
    transition-delay: 0.5s !important;
}
.one2 {
    transition-delay: 1s !important;
}
.one3 {
    transition-delay: 1.5s !important;
}
.one4 {
    transition-delay: 2s !important;
}

/*----------------banner------------------------*/

.banner1 {background:url(../img/banner1.jpg) no-repeat; height:800px; float:left; width:100%; background-size:cover;}
.banner2 {background:url(../img/banner1.jpg) no-repeat; height:800px; float:left; width:100%; background-size:cover;}
.banner3 {background:url(../img/banner1.jpg) no-repeat; height:800px; float:left; width:100%; background-size:cover;}

.banner-text h2 {
    color: #fff;
    font-size: 82px;
    letter-spacing: 10px;
}
#owl-demo .item {
    position: relative;
}
.banner-text {
    float: left;
    position: absolute;
    text-align: center;
    top: 188px;
    width: 100%;
}
.banner-btn > a {
    background-color: #b62d44;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    margin-right: 118px;
    padding: 8px 52px;
	font-family: 'freightregular';
	letter-spacing: 2px;
	
}
.banner-btn > a:last-child {
    margin-right: 0;
}
.banner-btn {
    margin-top: 75px;
}
.toggled{transform: translateY(0) !important; transition-timing-function: ease-out; transition: 0.7s; -webkit-transition-timing-function: ease-out; -webkit-transition: 0.7s;}


/*-------------------we-are-----------------*/

.we-are, .about, .asse-sec {
    float: left;
    padding: 60px 0 30px;
    width: 100%;
}
.title {
    color: #000;
    font-family: "freightbold";
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 30px;
    text-align: center;
}
.wrapper {width:840px; margin:0 auto;}

.we-one > span {
    float: left;
    font-family: "freightregular";
    font-size: 13px;
    letter-spacing: 2px;
    margin: 13px 0;
    text-align: center;
    width: 100%;
}
.we-one {
    float: left;
    padding-right: 30px;
    position: relative;
    width: 100%;
}

.we-one > img {
    border-top: 6px solid #b62d44;
    width: 100%;
}
.we-text {
    background-color: #fff;
    border-bottom: 6px solid #b62d44;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: -50px 19px 10px;
    padding: 19px 19px 28px;
    position: relative;
}
.we-text p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.we-one > a {
    color: #b62d44;
    float: left;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 10px 0 20px;
    text-align: center;
    width: 100%;
}
.we-one.padding-left {
    padding-left: 30px;
    padding-right: 0;
}


/*-------------------assesment----------------------*/

.assesment {
    background-color: #b62d44;
    float: left;
    padding: 50px 0 160px;
    width: 100%;
}
.assement-text {
    float: left;
    margin-top: 50px;
    padding-right: 36px;
    width: 100%;
}
.assement-text > p {
    color: #000;
    font-size: 13px;
    line-height: 20px;
}
.form-contact {
    float: left;
    padding-left: 40px;
    width: 100%;
	margin-top:50px;
	
}
.con-style {
    background-color: #000;
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-style: none none solid;
    border-width: 0 0 2px;
    color: #fff;
    float: left;
    font-size: 13px;
    height: 50px;
    padding-left: 20px;
    width: 100%;
	  font-family: "freightregular";
	  opacity:1
}
.con-style:last-of-type {
    border: medium none;
}
.form-contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  	  opacity:1
}
.form-contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  	  opacity:1
}
.form-contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  	  opacity:1
}
.form-contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  	  opacity:1
}
.form-contact > a {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    float: left;
    font-size: 12px;
    margin-top: 16px;
    padding: 7px 65px;
}

/*------------------resourses------------------------*/

.resourses {
    float: left;
    padding: 70px 0 50px;
    width: 100%;
}
.resourses > p , .student> p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
	color:#000;
}
.resourses-slider {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.resourses-slider .nav-tabs {
    border-bottom: medium none;
}
.resourses-slider .nav-tabs > li {

    margin-right: 40px;
}
.resourses-slider .nav-tabs {
    border-bottom: medium none;
    display: table;
    float: none;
    margin: 0 auto;
}
.resourses-slider .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 1.42857;
    margin-right: 2px;color:#000;

}
.resourses-slider .nav-tabs > li.active > a, .resourses-slider .nav-tabs > li.active > a:focus, .resourses-slider .nav-tabs > li.active > a:hover {
    background-color: #fff;
    border-color: -moz-use-text-color -moz-use-text-color #b62d44;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 5px;
    color: #000;
    cursor: default;
    text-align: center;

}
.container {
    width: 960px;
}
.resourses-slider .nav-tabs .nav > li > a:focus, .resourses-slider .nav-tabs .nav > li > a:hover {
    background-color:  transparent;
    text-decoration: none;
}
.resourses-slider .nav-tabs > li > a:hover {
    border-color: transparent;
}
.resourses-slider .nav-tabs > li:last-child {
    margin-right: 0;
}
.resourses-slider .tab-content {
    margin-top: 30px;
}

#owl-demo2 .item {
    position: relative;
}
.book-text {
  background-color: #fff;
  border-bottom: 2px solid #b62d44;
  border-top: 2px solid #b62d44;
  height: 72%;
  left: 33px;
  padding: 8px;
  position: absolute;
  top: 40px;
  width: 100px;
  z-index: 9999999;
}
.book-text > p {
    color: #b62d44;
    font-size: 10px;
    letter-spacing: 0.8px;
    line-height: 15px;
    position: relative;
    top: 96px;
}
.customNavigation {
    position: relative;
    top: -118px;
}
.btn.prev {
    left: -55px;
    position: absolute;
}
.btn.next {right: -35px;
    position: absolute;}
	
.download {
  background-color: #b62d44;
  border: 1px solid #000;
  color: #000;
  display: table;
  float: none;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 30px auto 20px;
  padding: 6px;
  text-align: center;
  
}	

/*------------------student----------------------*/

.student {
    background-color: #4a4a49;
    float: left;
    padding: 50px 0 160px;
    width: 100%;
}
.padding-no {
    padding-left: 10px;
    padding-right: 10px;
}
.student-say > p {
    color: #000;
    font-size: 12px;
    margin-top: 23px;
    padding: 0 11px;
	letter-spacing:2px;
}
.student-say {
    float: left;
    text-align: center;
    width: 100%;
}
.top-space {
    margin-top: 45px;
}
#owl-demo2 .owl-pagination {display:none;}

/*--------------banner----------------*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    float: none;
    margin-right: 129px;
}
.owl-theme .owl-controls .owl-page:last-of-type {
   
    margin-right: 0px;
}

.owl-theme .owl-controls .owl-page span {
    background: transparent !important;
    border-radius: 0 !important;
    display: block;
    height: 26px !important;
    margin: 5px 7px;
    opacity: 1 !important;
    width: 100% !important;
	border-bottom:5px solid #B62D44;
	color:#fff;
	 font-family: "freightregular";


}
.owl-theme .owl-controls .owl-page.active span {
    color: #B62D44 !important;
}
.owl-theme .owl-controls {
    margin-top: -70px !important;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2147483647;
}

	.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}



/*------------------footer--------------------*/
footer {
    background-color: #b62d44;
    float: left;
    padding: 20px;
    width: 100%;
}

.footer-link h3 {
    color: #000;
    font-family: "freightregular";
    margin-bottom: 15px;
}
.footer-link > li {
    margin-bottom: 3px;
}
.footer-link a {
    color: #000;
}
footer img {
    padding-top: 22px;
}


/*-----------------------about-us-page---------------------*/


/*------------------aboutus-----------*/

.panel-default {
    border-color: transparent;
}
.about .panel {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.about .panel-default > .panel-heading {
    background-color: transparent;
    border: medium none;
    color: #333;
    padding: 0;
}
.about .nav-tabs {
    border: medium none;
    display: table;
    margin: 0 auto;
}
.about .nav > li > a:focus, .about .nav > li > a:hover {
    background-color: transparent;
    text-decoration: none;
}
.about .nav-tabs > li > a:hover {
    border-color: transparent;
}
.about .nav-tabs > li.active > a, .about .nav-tabs > li.active > a:focus, .about .nav-tabs > li.active > a:hover {
    background-color: #fff;
    border: medium none;
    color: #B62D44;
    cursor: default;
}
.about .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #000;
    line-height: 1.42857;
    margin-right: 2px;
}
.about .nav-tabs > li {
    float: left;
    margin: 0 58px;
}
.about .panel-body {
    padding: 0 15px;
}

.about-img {
    float: left;
    width: 100%;
}
.about-img img {
    border-top: 5px solid #b62d44;
}
.about-text {
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin-top: -259px;
	font-family: 'Akkurat Light Pro';
	color:#B62D44;
}
.about-text span {
    font-size: 20px;
    line-height: 25px;
}
.about-text > p {
    font-size: 17px;
    line-height: 28px;
    margin-top: 24px;
}
.counter {
    float: left;
    width: 100%;
}
.counter > ul {
    float: left;
    width: 100%;
}
.counter ul li {
    color: #b62d44;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.counter h2 {
    font-size: 102px;
    
	font-family: 'Akkurat Light Pro';

}
.counter p {
    font-size: 20px;
}

/*-----------------------team----------------*/

.team > img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
}
.team {
    height: 140px;
    overflow: hidden;
    width: 140px;
}
.about-nav {
    top: 50px;
}
.team-text {
    color: #b62d44;
    font-family: "Akkurat Light Pro";
    margin-top: 18px;
    text-align: center;
	padding: 0 7px;
}
.team-text h4 {
    font-size: 13px;
    margin-bottom: 8px;
	 font-family: "freightregular";
	 letter-spacing:2px;
}
.team-text > span {
    font-size: 11px;
    margin-bottom: 15px;
}
.team-text > p {
    float: left;
    font-size: 10px;
    line-height: 13px;
    margin-top: 10px;
    width: 100%;
}
.team-text > a {
    color: #b62d44;
    float: left;
    letter-spacing: 2px;
    margin-top: 15px;
    text-align: center;
    width: 100%;
}




/*---------------------------student------------------*/

.bg-white {
    background: #fff none repeat scroll 0 0;
}



/*------------------assesment page-------------*/

/*------------assement-sec-------------*/

.wrapper2 {width:920px; margin:0 auto;}
.asse-sec p {
    padding: 30px 60px 0;
    text-align: center;
	border-top:5px solid #B62D44;
}

.asse-sec > h3 {
    color: #b62d44;
    font-family: "Akkurat Light Pro";
    font-size: 20px;
    margin-bottom: 40px;
}
.from-group {
    float: left;
    margin-bottom: 36px;
    
	width: 100%;
}
.no-space {
    margin-bottom: 0 !important;
}
.form-asse {
    border: 1px solid #b62d44;
    color: #000;
    float: left;
    height: 43px;
    opacity: 1;
    width: 100%;
	padding-left:6px;
	 font-family: "Akkurat Light Pro";
}
.form-asse:focus { background-color:#fff5f7;}

.padding-none {
    padding: 0;
}

.asse-sec ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  	  opacity:1
}
.asse-sec ::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  	  opacity:1
}
.asse-sec :-ms-input-placeholder { /* IE 10+ */
  color: #000;
  	  opacity:1
}
.asse-sec :-moz-placeholder { /* Firefox 18- */
  color: #000;
  	  opacity:1
}
.acce-lebal {
    font-family: "Akkurat Light Pro";
    font-weight: 300;
    margin-top: 14px;
}
select {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) url("../img/down-arrow.png") no-repeat scroll right 11px center;
    text-indent: 1px;
    text-overflow: "";
}

.asse-sec > span {
    float: left;
    font-family: "Akkurat Light Pro";
    font-size: 17px;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 100%;
}

input[type="radio"] {
    display: none;
}
input[type="checkbox"] {
    display: none;
}
.radio-style {
    background: rgba(0, 0, 0, 0) url("../img/radio.png") no-repeat scroll 0 0;
    float: left;
    font-family: "Akkurat Light Pro";
    height: 20px;
    margin-right: 7px;
    width: 21px;
}
.aee-radio > span {
    float: left;
    margin-top: 0;
	font-family: "Akkurat Light Pro";
}

.aee-radio {
    float: left;
    margin-right: 28px;
}
.aee-radio {
    float: left;
    margin-right: 28px;
}

input[type=radio]:checked + .radio-style{
     background-position: right;
}
input[type=checkbox]:checked + .radio-style{
     background-position: right;
}
.asse-button {
    background-color: #b62d44;
    color: #fff;
    float: left;
    font-size: 13px;
    letter-spacing: 2px;
    margin-right: 10px;
    padding: 10px 0;
    text-align: center;
    width: 214px;
}
.asse-button:last-child {
    margin-right: 0;
}
.ass-btn {
    float: right;
}

/*-----------------assamentpage2---------------*/

/*----------calendar sec-----------------*/

.calen-text p {
    border: medium none;
    float: left;
    line-height: 25px;
    padding: 0;
    text-align: left;
}
.space-cale {
    margin: 12px 0;
}
.wrapper3 {
    margin: 0 auto;
    width: 1078px;
}



















