
@media screen and (min-width:1201px){
	.is-hidden2 { opacity: 1 !important;
    visibility:visible !important;}
	}
	.go-back {
    cursor: pointer;
}
.input-group-addon label {
    transition: all 0.5s ease-in-out 0s;
}

.is-visible { visibility:visible !important; z-index:99999 !important; right:0 !important}
@media screen and (max-width:1200px){
#nav .primary-nav li .is-hidden3 {   transform: translateX(-100%); !important;}	}

div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}


.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
	margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
	cursor: default;
}


/*-------navigation----------*/

.list-social-icons span {
  display: block !important;
}
#nav .primary-nav .icon {
  color: #f28c00;
  display: none;
  font-size: 0.9rem;
  
}
.list-social-icons li .icon {
  background: #0f0f0f none repeat scroll 0 0 padding-box;
  border-radius: 50%;
  color: #fff !important;
  display: block;
  height: 35px;
  line-height: 38px;
  text-align: center;
  width: 35px;
}
.list-social-icons {
    float: right;
    margin-top: 0;
}
.list-social-icons li .icon::before {
  line-height: 38px;
}

.owl-theme .owl-controls {
  margin-top: -34px !important;
  text-align: center;
}

.left-btn:nth-child(2n+1) {
    margin-left: 0;
}
.left-btn {
    float: left;
    margin-left: 14px;
    width: 48.2%;
}
.evnet-hover {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  transition: all 0.5s ease-in-out 0s;
}	
.event-sec {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
	cursor:pointer;
}
.evnet-hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  height: 100%;
	width:100%;
  padding: 50% 0 20px;
  position: absolute;
  text-align: center;
  transform: translateY(341px);
  transition: all 0.7s ease-in-out 0s;
}
.evnet-hover > p {
  margin-bottom: 13px;
}
.event-sec:hover .evnet-hover { transform: translateY(-341px);}

.h2:first-child, h2:first-child {
   /* margin-top: 82px;*/
   margin-top: 40px;
}
.left-panel {
    float: left;
    position: absolute;
    top: 0;
    width: 100%;
}
.owl-theme .owl-controls .owl-page span {
  background: #fff none repeat scroll 0 0 !important;
  border: 2px solid #f7941e;
  border-radius: 20px;
  display: block;
  height: 15px !important;
  margin: 5px 7px;

  width: 15px !important;
   opacity: 0.9 !important;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
 
   background: #f7941e none repeat scroll 0 0 !important;
     border: 2px solid #fff;
}



/*CSS ADDED BY NIC GILBEY - 27/01/2018*/

h1
{
	padding-bottom:20px;
}

.main-content 
{
	
}

.main-content a:link {
    text-decoration: underline;
}

.main-content a:visited {
    text-decoration: underline;
}

.main-content a:hover {
    text-decoration: underline;
}

.main-content a:active {
    text-decoration: underline;
}

.main-content ul
{
	 list-style-type: none;
	 padding-left:0px;
	 padding-top:20px;
	 margin-left:0px;
}


