#main_header .header_user_actions {
    float: right;
    padding: 12px 0;
}
.header_user_actions.dropdown > a {
    border-right: 1px solid;
    color: #fff;
    margin-right: 10px;
    padding-right: 15px;
}
.header_user_actions.dropdown > a:last-child {
    border: medium none;
    padding-right: 0;
}

.cancel-sec {
    bottom: 0;
    position: absolute;
    right: 20px;
}
.gen-img {
    height: auto;
    width: 179px;
}